[Unit]
Description=Sync Omarchy Theme
After=graphical.target

[Service]
Type=oneshot
ExecStart=%h/.config/omarchy-theme-sync/omarchy-theme-sync.sh
WorkingDirectory=%h
StandardOutput=journal
StandardError=journal
